name: Deploy

on:
  push:
    branches: [prd, stg, dev]
    paths-ignore: # Pushes that include only these changed files won't trigger actions
      - '**/README.md'
      - '**/.gitignore'
      - '**/docs/*'
      - '**/.github/*'
      - '**/tests/*'
      - '**/_version.py'

jobs:
  update-version:
    name: Update Version
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Update Version
        uses: byuawsfhtl/UpdateVersion@v1.0.4
        with:
          token: ${{ secrets.RLL_BOT_PERSONAL_ACCESS_TOKEN }}